h2{
    background-color: gray; padding: 3em;
}
section:nth-of-type(2n+2)>ol>li:nth-child(2n+2){
    background-color: bisque; 
    
}
 section:nth-of-type(2n+1)>ol>li:nth-child(2n+3){
    background-color: blueviolet; 

 }
 ol>li{
    padding: 2em;
 }

